{{#> layout }}
  {{> navbar}}
  {{> homecarousel}}
  <main class="flex-grow-1">
    <div class="container my-5">
      <h2 class="mb-4 display-1 fw-bold text-primary">{{companyDetails.name}}</h2>
      <p class="mb-4">
        A self-funding charity run by volunteers, <strong>{{companyDetails.name}} {{contactInfo.address.region}}</strong> is committed to bridging the ‘digital divide’ and making computing accessible to those less fortunate in our society.
        Over our 20 years in operation, the style and technology of computing has changed dramatically but the lack of affordability for those less fortunate has not.
      </p>
      <p class="mb-4" >
        We are continually indebted to both our dedicated volunteers and loyal supporters as we try to meet an ever-increasing demand for quality used systems that can be supplied to those in need at a minimal cost.
        The result of this partnership has been the reuse of over 10,000 systems that would otherwise have contributed to eWaste in landfill.
      </p>
      <p class="mb-4">
        For more information on our mission and organisation, you can read our <a href="about-us.hbs" class="text-decoration-none">About Us</a> page.
        For details on the computers on offer at <strong>{{companyDetails.name}}</strong>, visit the <a href="stocklist.html" class="text-decoration-none">Our Computers</a> section or browse from the menu above.
      </p>
      <p class="mb-5">
        <strong>{{companyDetails.name}}</strong> would not be possible without the generosity of our supporters.
        If you are interested in supporting us, please check out the <a href="#" class="text-decoration-none">Donate</a> page for more information.
        If you are interested in volunteering, you can view details on our <a href="volunteering.html" class="text-decoration-none">Volunteer Information</a> page.
      </p>


    </div>
  </main>

{{/layout}}
