{{#> layout_dynamic_seo title='Homepage' }}
  {{> navbar}}
  {{> homecarousel}}
  <main class="flex-grow-1">
    <div class="container my-5">
      <h2 class="mb-4 display-1 fw-bold text-primary jiggle">{{companyDetails.name}}</h2>

      <p>A self-funded <a href="{{site.charityRegistration}}" target="_blank" rel="noopener noreferrer">charity</a> run by volunteers,
        <span class="fw-bold">{{companyDetails.name}}</span> is committed to bridging the "digital divide" and
        making computing accessible to those less fortunate in our society. For over 20 years, we have operated as a dedicated organisation.
        The style and technology of computing have changed dramatically, yet affordability remains a barrier for those less fortunate.
      </p>

      <p>We are continually indebted to both our dedicated volunteers and loyal supporters as we strive to meet the ever-increasing demand
        for quality used systems that can be supplied to those in need at a minimal cost. This partnership has resulted in the reuse of over
        10,000 systems that would otherwise have contributed to e-waste in landfill.
      </p>

      <hr>

      <p>For more information on our mission and organisation, visit our <a href="about-us.html">About Us</a> page.
        To learn more about the computers available at {{companyDetails.name}}, visit the <a href="our-computers.html">Our Computers</a> section
        or browse from the menu above.
      </p>

      <p><span class="fw-bold">{{companyDetails.name}}</span> would not be possible without the generosity of our supporters.
        If you are interested in supporting us, please visit our <a href="donate.html">Donate</a> page for more information.
        If you are interested in volunteering, you can find details on our <a href="volunteer.html">Volunteer Information</a> page.
      </p>
    </div>
  </main>

  {{> flat-footer }}
{{/layout_dynamic_seo}}