{{#> layout-vbox }}
  <div class="container-fluid">
    {{> homecarousel}}
  </div>


    <div class="container my-5">
      <h2 class="mb-4 display-1 fw-bold text-primary jiggle">{{companyDetails.name}}</h2>
      <p class="lead">A self-funding <a href="{{site.charityRegistration}}" target="_blank" rel="noopener noreferrer">charity</a> run by volunteers, <span class="fw-bold">{{companyDetails.name}}</span> is committed to bridging the "digital divide" and
        making computing accessible to those less fortunate in our society. Over our 20 years in
        operation, the style and technology of computing has changed dramatically, but the lack of affordability for those less fortunate has not.</p>
      <p>We are continually indebted to both our dedicated volunteers and loyal supporters as we try to meet an ever-increasing demand for quality used systems that can be supplied to those in need at a minimal cost. The result of this
        partnership has been the reuse of over 10,000 systems that would otherwise have contributed to eWaste in landfill.</p>
      <hr>

      <p>For more information on our mission and organisation you can read our <a href="about-us.html">About us</a> page, for details on the computers on offer at {{companyDetails.name}}, visit the Our Computers section or browse from the
        menu above.
      <p><span class="fw-bold">{{companyDetails.name}}</span> would not be possible without the generosity from our supporters, if you are interested in supporting us please check out the <a href="donate.html">Donate</a> page for more
        information. If you are interested in volunteering, you can view
        details on our <a href="volunteer.html">Volunteer Information</a> page.</p>
    </div>


{{/layout-vbox}}
