{{#> layout_dynamic_seo title=page.title }}
  {{> navbar}}
  {{#> hero title='<span class="fw-bold text-primary">Volunteering</span>'}}
    <p class="lead">Are you interested in recycling electronic equipment, supporting welfare and community-based organisations, and would you like to help enable access to computing for people on low incomes?</p>
  {{/hero}}
  <section class="container py-5">
    <h1>Volunteering at {{site.name}}</h1>

    <p>{{site.name}}'s volunteers range from technical experts to hobbyists and come from many cultural and linguistic backgrounds and ages.</p>
    <p>Are you interested in recycling electronic equipment, supporting welfare and community-based organisations, and would you like to help enable access to computing for people on low incomes?</p>
    <p>We use open source software on our computers (not Windows) as we are committed to using free and open source software.</p>

    <h2>Commitment & Responsibilities</h2>
    <p>Volunteers must be able to commit to 1 or more shifts a fortnight and also be keen to work in a team of like-minded people in a friendly atmosphere.</p>

    <p>Volunteers will need to login to our website proactively on a regular basis to add their name on a roster and to check for updates to documentation and our to-do lists via the volunteer dashboard.</p>

    <p>All volunteers are expected to contribute to the daily housekeeping of the premises to ensure all areas are kept clean and tidy.</p>

    <p>If you have experience with Linux, that will serve you well at {{site.name}}, however, this is not a prerequisite for all volunteers, as there are plenty of other ways for you to contribute!</p>

    <h2>Ready to Apply?</h2>
    <p>You can apply right now via our website using the <strong>Volunteer Application Form</strong>. Tell us about your skills and ideally include your resume. We will invite you to an information session where we can discuss volunteering.
      Information sessions are held regularly.</p>

    <h2>Volunteer Positions Available</h2>

    <h3>Front Desk and Customer Service</h3>
    <p>A great way to get some IT retail experience. Volunteers who successfully complete at least 6 months of solid volunteering with us may ask for a reference.</p>

    <h4>Duties</h4>
    <p>Include customer service, answering phones, explaining to in-store customers about our low-cost Linux computers, and answering any questions. Assistance with other areas as required.</p>

    <h4>Volunteer Requirements</h4>
    <p>Volunteers must be comfortable with Linux and Linux desktops, preferably using it on a regular basis. Volunteers must be willing to become familiar with the {{site.name}} customised distribution desktop.</p>

    <h3>Technical/Buildroom and Warehouse</h3>
    <p>We pride ourselves on building computers that are reliable and fully functional. To achieve this end, all computers are built according to our in-house procedures and documentation of the process at each stage. The completed builds
      are then checked and approved before going to sale.</p>

    <h4>Duties</h4>
    <p>The main function is the building of computers for sale following our in-house procedures. Duties also include assessing donated computers, wiping hard drives, recycling computers and components, and some warehouse housekeeping.</p>

    <h4>Volunteer Requirements</h4>
    <p>Familiarity with GNOME/Mate and Linux is essential along with component assembly. Familiarity with hardware is always useful too.</p>

    <p>We need people with command line skills, people who can manage files from the command line and know the difference between a regular prompt and a hash prompt. Programming skills are however not a requirement.</p>

    <h3>In-house and Telephone User Support</h3>
    <p>Most of our users <strong>DO NOT</strong> use the command line, nor are they expected to.</p>

    <h4>Duties</h4>
    <p>Involves providing user support to new users and troubleshooting specific problems.</p>

    <h4>Requirements</h4>
    <p>This role requires patience and excellent knowledge of the command line, Linux, and {{site.name}}’s customised distribution.</p>

    <h2>Other Functions</h2>
    <p>Volunteers also have the opportunity to be involved in other tasks required for the general running of {{site.name}}. This applies to tasks such as:</p>
    <ul>
      <li>Sales database management and development</li>
      <li>Website management</li>
      <li>New distribution version development</li>
      <li>Internal network management</li>
    </ul>
    </div>
  </section>
  {{> footer-v2 }}
{{/layout_dynamic_seo}}
