<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Support <%= company.name %> through donations, volunteering, or partnerships to help bridge the digital divide.">
    <title>Support Us - <%= company.name %></title>
    <link rel="stylesheet" href="./public/css/main.css">
    <%- include('partials/favicon-stylesheet') %>
</head>
<body>

<%- include('partials/jumbotron') %>
<%- include('partials/navbar') %>

<!-- Embedded Data at the Bottom -->
<script>
    <%
    const items = [
        {
            id: '11282',
            name: 'Master ATX 450WT 450W Switching Power Supply 80 plus',
            description: 'This computer power supply is in good condition and has been tested.',
            price: 20.0,
            image: 'images/ebay/master-atx-450w.webp'
        },
        {
            id: '11282',
            name: 'HP Elite X2 1012 G2 Tablet, 8GB RAM, 256 GB SSD, 12", 7th gen i5',
            description: 'This tablet is in good condition and it is fully working.  The touch screen is also in good condition but from certain angles you may be able to see some light marks from the keyboard. The are not visible when using the screen normally.',
            price: 125.0,
            image: 'images/ebay/hp-elite-x2.webp'
        },
        {
            id: '226500326792',
            name: 'MD PRIME B450M-K AM4 mATX motherboard, LED lighting',
            description: 'Opened – never used: An item in excellent, new condition with no wear.',
            price: 99.0,
            image: 'images/ebay/md-prime-b4450m.webp'
        },
        {
            id: '226500326792',
            name: 'Fujitsu Dyna MO M2513S2F SCSI 640MB MO External Magneto Optical Drive - untested',
            description: 'This computer power supply is in good condition and has been tested.',
            price: 35.0,
            image: 'images/ebay/fujitsu-dyna-mo.webp'
        },
        {
            id: '226500326792',
            name: 'Asus Taichi 21 Dual screen Ultraportable, Intel i7, 256 GB SSD Eng/Chin Keyboard',
            description: 'This unique dual screen convertable tablet/Ultrabook is in good condition and it is fully working, apart from the battery which does not hold charge.',
            price: 150.0,
            image: 'images/ebay/asus-tachchi.webp'
        },
        {
            id: '226500326792',
            name: 'Dell Thunderbolt TB16 (K16A) USB Docking Station + 130W Dell power supply',
            description: 'This docking station is in good condition and is fully working. A dell 130W power supply is included.',
            price: 29.0,
            image: 'images/ebay/dell-thunderbolt-tb16.webp'
        },
    ]; %>
</script>

<!-- Main Content -->
<div class="container my-5">
    <section>
        <div class="bg-light p-3 rounded">
            <h2 class="mb-4">Our eBay Store</h2>
            <div class="row">
                <div class="col-6">
                    <p>
                        <span class="fw-bold"><%= company.name %></span> sells equipment on <a>eBay</a> that is not useful for low income or community groups. These items may be bulky, faulty, vintage, enterprise equipment, one of a kind,
                        or end-of-life equipment. Laptops listed have issues or have marks and scratches. Excess stock is also sold.
                    </p>
                    <p>
                        We are a not-for-profit organisation. All funds raised by sales go back towards our operating costs.
                    </p>
                    <p>
                        We are self-funded and receive no financial support from business or government. By selling these items, we stop them from going into landfill.
                    </p>
                    <img src="images/ebay-store.png" alt="eBay store display" class="img-fluid">
                </div>
                <div class="col-6">
                    <img src="images/recycling-1.jpg" alt="Recycled computer motherboards with visible sockets and circuits, highlighting sustainable e-waste management." class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <!-- eBay Listings Section -->
    <section class="my-5">
        <div class="bg-light p-3 rounded">
            <h3 class="mt-2">Our eBay Listings</h3>
            <p>Clicking on an item link below will redirect you to eBay, where they may pay a referral commission upon completion of a purchase.</p>
            <div class="row mt-4">
                <% items.forEach(item => { %>
                    <%- include('partials/EbayItem', { item: item }) %>
                <% }); %>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<footer class="bg-white text-dark py-4">
    <div class="container text-center">
        <div class="site-info">
            Copyright © <%= company.year %>
            <a href="https://<%= company.domain %>" title="<%= company.legal %>">
                <span><%= company.legal %></span>
            </a>. All rights reserved.
            <br>Powered by
            <a href="https://wordpress.org" target="_blank" title="WordPress">
                <span>WordPress</span>
            </a>.
        </div>
        <div class="social-links d-flex justify-content-center mt-2">
            <!-- Social Media Links -->
            <a href="<%= company.social.twitter %>" target="_blank" title="Twitter" class="mx-2">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="<%= company.social.facebook %>" target="_blank" title="Facebook" class="mx-2">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="<%= company.social.linkedin %>" target="_blank" title="LinkedIn" class="mx-2">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="<%= company.social.github %>" target="_blank" title="GitHub" class="mx-2">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</footer>

<!-- Back to Top -->
<a href="#" id="return-to-top" aria-label="Return to Top" class="position-fixed bottom-0 end-0 m-3 d-flex justify-content-center align-items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#536dfe" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
    </svg>
</a>

<script src="js/main.js"></script>
</body>
</html>