<%- include('partials/head') %>
<body>

<%- include('partials/jumbotron') %>
<%- include('partials/navbar') %>

<!-- Main Content -->
<div class="container my-5">
    <section>
        <h2 class="mb-4">Our Ebay Store</h2>
        <div class="row">
            <div class="col-6">
                <p>
                    <span class="fw-bold"><%= company.name %></span> sells equipment on <a>eBay</a> that is not useful for low income or community groups. These items may be bulky, faulty, vintage, enterprise equipment, one of a kind or end of
                    life equipment. Laptops listed have issues or have marks and scratches. Excess stock is also sold.
                </p>
                <p>
                    We are a not-for-profit organisation. All funds raised by sales go back towards our operating costs.
                </p>
                <p>
                    We are self-funded and receive no financial support from business or government. By selling these items, we stop them from going into landfill.
                </p>
                <img src="images/ebay-store.png" alt="ebay-store" class="img-fluid">
            </div>
            <div class="col-6">
                <img src="images/recycling-1.jpg" alt="Recycling" class="img-fluid">
            </div>
        </div>
    </section>
    <section>
        <h2 class="mb-4">Our Ebay Store</h2>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </section>
</div>

<footer class="bg-white text-dark py-4">
    <div class="container text-center">
        <div class="site-info">
            Copyright © <%= company.year %>
            <a href="https://<%= company.domain %>" title="<%= company.legal %>">
                <span><%= company.legal %></span>
            </a>. All rights reserved.
            <br>Powered by
            <a href="https://wordpress.org" target="_blank" title="WordPress">
                <span>WordPress</span>
            </a>.
        </div>
        <div class="social-links d-flex justify-content-center mt-2">
            <!-- Twitter -->
            <a href="<%= company.social.twitter %>" target="_blank" title="Twitter" class="mx-2">
                <i class="fab fa-twitter"></i>
            </a>
            <!-- Facebook -->
            <a href="<%= company.social.facebook %>" target="_blank" title="Facebook" class="mx-2">
                <i class="fab fa-facebook"></i>
            </a>
            <!-- LinkedIn -->
            <a href="<%= company.social.linkedin %>" target="_blank" title="LinkedIn" class="mx-2">
                <i class="fab fa-linkedin"></i>
            </a>
            <!-- GitHub -->
            <a href="<%= company.social.github %>" target="_blank" title="GitHub" class="mx-2">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</footer>

<a href="#" id="return-to-top" aria-label="Return to Top" class="position-fixed bottom-0 end-0 m-3 d-flex justify-content-center align-items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#536dfe" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
    </svg>
</a>

<script src="js/main.js"></script>

</body>
</html>