<%- include('partials/head') %>
<%- include('partials/jumbotron') %>
<%- include('partials/navbar') %>

<!-- Main Content -->
<div class="container-fluid container-lg my-5">

    <div class="row">
        <!-- Left Column -->
        <div class="col-md-8 mt-3">
            <p>
                <%= company.name %> is dedicated to bridging the digital divide by providing affordable, refurbished computers to individuals and organisations in need.
            </p>
            <p>
                Join us in creating a future where everyone has access to the technology they need. Whether you’re looking for a computer or want to support our mission, we’re here to help.
            </p>
            <div class="d-flex gap-2">
                <a href="/apply" class="btn btn-primary text-white">Buy a Computer</a>
                <a href="/donate" class="btn btn-outline-secondary">Donate Now</a>
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-4  mt-3">
            <h3>Quick Links</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="<%= basePath %>stocklist">Stocklist</a></li>
                <li class="list-group-item"><a href="<%= basePath %>e-bay">e-bay</a></li>
                <li class="list-group-item"><a href="<%= basePath %>donate">Donate (TEST)</a></li>
                <li class="list-group-item"><a href="<%= basePath %>about-us">About</a></li>
                <li class="list-group-item"><a href="<%= basePath %>our-shop">Our Shop</a></li>
                <li class="list-group-item"><a href="<%= basePath %>apply">Get a Refurbished Computer</a></li>
                <li class="list-group-item"><a href="<%= basePath %>volunteering">Volunteer with Us</a></li>
                <li class="list-group-item"><a href="<%= basePath %>donate">Donate Your Computer</a></li>
<!--                <li class="list-group-item"><a href="<%= basePath %>e-waste">E-Waste Recycling</a></li>-->
            </ul>
        </div>
    </div>
</div>

<%- include('partials/footer') %>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>