<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn about our mission, services, and the community impact of <%= company.name %>.">
    <title>About Us - <%= company.name %></title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="bg-light">
<%- include('partials/jumbotron-light') %>
<%- include('partials/navbar') %>

<main class="container my-5">
    <section>

        <h2>Our Computers</h2>
        <p>
            <%= company.name %>’s low cost computers are available to concession card holders, students and community groups to assist to cross the digital and economic divide in Australia. <%= company.name %> is a self funded not for profit,
            volunteer run community group.
        </p>
        <p>
            Our refurbished, low cost computers come complete with monitor, keyboard/mouse and a full user guide. You can view more about our shop or see the available options via our stocklist.
        </p>
    </section>

    <section>

        <h2><%= company.name %> User Guide</h2>
        <p>
            You can download a copy of the latest version of the <%= company.name %> user guide by clicking the icon below. The user guide is supplied with each of our computers and includes user guides and image tutorials for popular tasks and software.
        </p>
        <p>
            Our refurbished, low cost computers come complete with monitor, keyboard/mouse and a full user guide. You can view more about our shop or see the available options via our stocklist.
        </p>
    </section>
    <section>
        <h2>Frequently Asked Questions</h2>
        <p> Here’s the frequently asked questions we are asked at Databanken. If
            you have any questions not answered below, please feel free to email or
            give us a call. </p>
        <h3>What is on the <%= company.name %> computer?</h3>
        <p>
            All our computers come with over 70 open source software programs.  Programs include word processing, spreadsheets, pdf maker, presentation slides, typing tutor, maths games, kids games, solitaire, sudoku, chess, web camera software, GIMP graphics, Firefox, Google Chrome, Skype, GRAMPS genealogy, GnuCash Finance management, VLC, Audacity and much more.
        </p>
        <p>
            The operating system is a customised Linux NOT Windows OS. If you have any questions please contact us.
        </p>
        <h3>Who is eligible for a low cost computer?</h3>
        <p>
            All our computers come with over 70 open source software programs.  Programs include word processing, spreadsheets, pdf maker, presentation slides, typing tutor, maths games, kids games, solitaire, sudoku, chess, web camera software, GIMP graphics, Firefox, Google Chrome, Skype, GRAMPS genealogy, GnuCash Finance management, VLC, Audacity and much more.
        </p>
        <p>
            The operating system is a customised Linux NOT Windows OS. If you have any questions please contact us.
        </p>
    </section>

</main>


<%- include('partials/footer') %>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>