<%- include('partials/head') %>
<%- include('partials/jumbotron') %>
<%- include('partials/navbar') %>

<main class="container my-5">
    <h2 class="mb-4">Available Stock</h2>
    <div class="row">
        <!-- Desktops Section -->
        <div class="col-md-12">
            <div class="row">
                <% const desktops = [
                    {
                        id: '11282',
                        name: 'Hewlett-Packard HP2210',
                        storage: '500 GB HDD',
                        processor: 'i7-26003.8',
                        optical: 'DVD-ROM',
                        ram: '4GB',
                        battery: null,
                        screen: '23.8"',
                        extras: null,
                        concessionPrice: 95,
                        fullPrice: 142.50,
                        image: 'images/stock/20241025_124948_450x600_.jpg'
                    },
                    {
                        id: '11202',
                        name: 'HP Prodesk 600 G1 SFF',
                        storage: '240 GB SSD',
                        processor: 'i5-4590 3.30 Ghz',
                        optical: 'Combo',
                        ram: '8GB',
                        battery: null,
                        screen: '19"',
                        extras: 'Extra 1 TB hard disk',
                        concessionPrice: 110.0,
                        fullPrice: 165.0,
                        image: 'images/stock/20240817_124330_450x600_1.jpg'
                    },
                    {
                        id: '11288',
                        name: 'Lenovo M700',
                        storage: '256 GB SSD',
                        processor: '5-64002.70 GHz',
                        optical: 'Combo',
                        ram: '8GB',
                        battery: null,
                        screen: '19"',
                        extras: 'Extra 1 TB hard disk',
                        concessionPrice: 125.0,
                        fullPrice: 187.50,
                        image: 'images/stock/20241123_155119_450x600_1.jpg'
                    },
                    {
                        id: '11327',
                        name: 'Lenovo M700',
                        storage: '256 GB SSD',
                        processor: 'i5-6400 3.30 GHz',
                        optical: 'DVD-RW',
                        ram: '8GB',
                        battery: null,
                        screen: '24"',
                        extras: 'Wifi, 2 GB video card, widescreen',
                        concessionPrice: 190.0,
                        fullPrice: 285.0,
                        image: 'images/stock/20241207_120020_450x600_.jpg'
                    },
                ]; %>
                <section class="my-5">
                    <div class="bg-light p-3 rounded">
                        <h3 class="mt-2">Desktops</h3>
                        <p>The listed concession price is only available to concession card holders. Please have a valid concession card ready when you make your purchase, you may purchase a desktop computer without a concession card
                            however you will be charged our full market price.</p>
                        <div class="row mt-4">
                            <% desktops.forEach(item => { %>
                                <%- include('partials/StockItem', { item: item }) %>
                            <% }); %>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- Desktops Section -->
        <div class="col-md-12">
            <div class="row">
                <% const laptops = [
                    {
                        id: '11304',
                        name: 'HP Probook 430 G4',
                        storage: '128GB SSD',
                        processor: 'i5-7200 2.5',
                        optical: '',
                        ram: '8GB',
                        battery: 6.41,
                        screen: '13.2"',
                        extras: 'Built in Wifi, Bluetooth, Webcam adapter',
                        concessionPrice: 150.0,
                        fullPrice: null,
                        image: 'images/stock/20241123_154320_800x600_.jpg'
                    },
                    {
                        id: '11316',
                        name: 'HP ProBook 430 G4',
                        storage: '128GB SSD',
                        processor: 'i5-7200 2.5',
                        optical: '',
                        ram: '8GB',
                        battery: 4.30,
                        screen: '13.2"',
                        extras: '',
                        concessionPrice: 150.0,
                        fullPrice: null,
                        image: 'images/stock/20241129_132916_800x600_.jpg'
                    },
                    {
                        id: '11329',
                        name: 'ASUSTek VivoBook',
                        storage: '256 GB NVMe',
                        processor: 'Pentium N6000 1.10',
                        optical: '',
                        ram: '8GB',
                        battery: 8.42,
                        screen: '15.5"',
                        extras: 'Built in Wifi, Bluetooth and Webcam and adapter',
                        concessionPrice: 200.0,
                        fullPrice: null,
                        image: ''
                    },
                    {
                        id: '11250 B',
                        name: 'HP ProBook 450 G5',
                        storage: '256 GB NVMe',
                        processor: 'i5-8250U 1.60',
                        optical: '',
                        ram: '8GB',
                        battery: 4.27,
                        screen: '15.5"',
                        extras: 'Built in Wifi, Bluetooth, Webcam adapter',
                        concessionPrice: 200.0,
                        fullPrice: null,
                        image: 'images/stock/20240920_110041_800x600_.jpg'
                    },
                    {
                        id: '11315',
                        name: 'HP ProBook 650 G2',
                        storage: '256 GB SSD',
                        processor: 'i7-6600U 2.60',
                        optical: 'Combo',
                        ram: '16GB',
                        battery: 3.44,
                        screen: '15.5"',
                        extras: 'Built in Wifi, Bluetooth and Webcam and adapter',
                        concessionPrice: 210.0,
                        fullPrice: null,
                        image: 'images/stock/20241129_140341_800x600_.jpg'
                    },
                    {
                        id: '11328',
                        name: 'Dell Inspiron 5559',
                        storage: '120 GB SSD',
                        processor: 'i7-6500U 2.50',
                        optical: 'Combo',
                        ram: '8GB',
                        battery: 3.44,
                        screen: '15.5"',
                        extras: 'Built in Wifi, Bluetooth and Webcam and adapter',
                        concessionPrice: 2.20,
                        fullPrice: null,
                        image: null
                    },
                    {
                        id: '11300',
                        name: 'HP Elitebook 850 G6',
                        storage: '128 GB SSD',
                        processor: 'i5-8265u 1.6',
                        optical: '',
                        ram: '8GB',
                        battery: 4.06,
                        screen: '15.5"',
                        extras: 'Built in Wifi, Bluetooth and Webcam',
                        concessionPrice: 280,
                        fullPrice: null,
                        image: 'images/stock/20241123_154019_800x600_.jpg'
                    },
                    {
                        id: '11298',
                        name: 'HP Probook 430 G5',
                        storage: '256 GB NVMe',
                        processor: 'i5-8250U 1.60',
                        optical: '',
                        ram: '8GB',
                        battery: 6.3,
                        screen: '15.5"',
                        extras: 'Built in Wifi, Bluetooth, Webcam adapter',
                        concessionPrice: 285,
                        fullPrice: null,
                        image: 'images/stock/20241123_153421_800x600_.jpg'
                    },
                    {
                        id: '11308',
                        name: 'HP Elitebook 840 G6',
                        storage: '256 GB NVMe',
                        processor: 'i5-8250U 1.60',
                        optical: '',
                        ram: '16GB',
                        battery: 3.37,
                        screen: '14.0"',
                        extras: 'Built in Wifi, Bluetooth, Webcam adapter',
                        concessionPrice: 300,
                        fullPrice: null,
                        image: 'images/stock/20241123_152808_800x600_.jpg'
                    },
                    {
                        id: '11325',
                        name: 'Lenovo IdeaPad S340',
                        storage: '256 GB NVMe',
                        processor: 'i5-1035G1 3.6',
                        optical: '',
                        ram: '8GB',
                        battery: 5.15,
                        screen: '15.5"',
                        extras: 'Built in Wifi, Bluetooth, Webcam adapter, bag',
                        concessionPrice: 320,
                        fullPrice: null,
                        image: null
                    },
                    {
                        id: '11330',
                        name: 'Lenovo Thinkpad 14s G2',
                        storage: '256 GB NVMe',
                        processor: 'i5-1135G7 2.40',
                        optical: '',
                        ram: '8GB',
                        battery: 6.0,
                        screen: '15.5"',
                        extras: 'Built in Wifi, Bluetooth and Webcam and bag',
                        concessionPrice: 345,
                        fullPrice: null,
                        image: null
                    },
                    {
                        id: '11331',
                        name: 'HP Probook 430 G7',
                        storage: '500 GB SSD',
                        processor: 'i5010210U 1.60',
                        optical: '',
                        ram: '8GB',
                        battery: 6.1,
                        screen: '13.2"',
                        extras: 'Built in Wifi, Bluetooth and Webcam and bag',
                        concessionPrice: 350,
                        fullPrice: null,
                        image: null
                    },


                ]; %>
                <section class="my-5">
                    <div class="bg-light p-3 rounded">
                        <h3 class="mt-2">Laptops</h3>
                        <p class="text-muted">Laptops are <strong>first come, first served.</strong> You must have a valid concession card to purchase a laptop and there is a one per person limit.</p>
                        <div class="row mt-4">
                            <% laptops.forEach(item => { %>
                                <%- include('partials/StockItem', { item: item }) %>
                            <% }); %>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>

</main>

<%- include('partials/footer') %>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>