<%- include('partials/head') %>
<%- include('partials/navbar') %>

<div class="p-1 gradient-secondary text-white">
    <div class="container my-5">
        <div class="row text-white">
            <div class="col-md-6">
                <h1 class="display-4">Volunteering</h1>
                <p class="lead">
                    <%= company.name %>’s volunteers range from technical experts to hobbyists and come from many cultural and linguistic backgrounds and ages.
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <img src="images/volunteers/volunteer-group.webp" class="rounded ms-auto" alt="volunteer" style="height: 300px; width: 400px">
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="container my-5">
    <h1 class="text-primary">Volunteering at <%= company.name %></h1>

    <section class="mt-4">
        <p>
            Are you interested in recycling electronic equipment, supporting welfare and community-based organisations, and helping enable access to computing for people on low incomes?
        </p>
        <p>
            We use open-source software on our computers (not Windows) as we are committed to using free and open-source software.
        </p>
    </section>

    <section class="mt-4">
        <h2 class="text-primary">Volunteering at <%= company.name %></h2>
        <p>
            Volunteers must be able to commit to 1 or more shifts a fortnight and work in a team of like-minded people in a friendly atmosphere.
        </p>
        <p>
            Volunteers will need to log in to our website regularly to add their names to the roster and check for updates to documentation and to-do lists via the volunteer dashboard.
        </p>
        <p>
            All volunteers are expected to contribute to the daily housekeeping of the premises to ensure all areas are kept clean and tidy.
        </p>
        <p>
            If you have experience with Linux, that will serve you well at <%= company.name %>. However, this is not a prerequisite for all volunteers, as there are plenty of other ways for you to contribute!
        </p>
    </section>

    <section class="mt-5">
        <h2 class="text-primary">Ready to Apply?</h2>
        <p>
            You can apply right now via our website using the Volunteer Application form. Tell us about your skills and ideally include your resume. We will invite you to an information session where we can discuss volunteering. Information sessions are held regularly.
        </p>
    </section>

    <section class="mt-5">
        <h2 class="text-primary">Volunteer Positions Available</h2>

        <h3 class="text-primary">Front Desk and Customer Service</h3>
        <p>
            A great way to get some IT retail experience. Volunteers who successfully complete at least 6 months of solid volunteering with us may ask for a reference.
        </p>
        <h4>Duties</h4>
        <p>
            Duties include customer service, answering phones, explaining to in-store customers about our low-cost Linux computers, and answering any questions. Assistance with other areas as required.
        </p>
        <h4>Volunteer Requirements</h4>
        <p>
            Volunteers must be comfortable with Linux and Linux desktops, preferably using it on a regular basis. Volunteers must be willing to become familiar with the Computerbank customised distribution desktop.
        </p>
    </section>

    <section class="mt-5">
        <h3 class="text-primary">Technical/Buildroom and Warehouse</h3>
        <p>
            We pride ourselves on building computers that are reliable and fully functional. To achieve this, all computers are built according to our in-house procedures and documentation of the process at each stage. The completed builds are then checked and approved before going to sale.
        </p>
        <h4>Duties</h4>
        <p>
            The main function is the building of computers for sale following our in-house procedures. Duties also include assessing donated computers, wiping hard drives, recycling computers and components, and some warehouse housekeeping.
        </p>
        <h4>Volunteer Requirements</h4>
        <p>
            Familiarity with GNOME/Mate and Linux is essential, along with component assembly. Familiarity with hardware is always useful too.
        </p>
        <p>
            We need people with command-line skills, people who can manage files from the command line, and know the difference between a regular prompt and a hash prompt. Programming skills, however, are not a requirement.
        </p>

        <h4 class="text-primary">In-house and Telephone User Support</h4>
        <p>
            Most of our users DO NOT use the command line, nor are they expected to.
        </p>
        <h4>Duties</h4>
        <p>
            Involves providing user support to new users and troubleshooting specific problems.
        </p>
        <h4>Requirements</h4>
        <p>
            This role requires patience and excellent knowledge of the command line, Linux, and Computerbank’s customised distribution.
        </p>

        <h4 class="text-primary">Other Functions</h4>
        <p>
            Volunteers also have the opportunity to be involved in other tasks required for the general running of Computerbank, such as:
        </p>
        <ul>
            <li>Sales database management and development</li>
            <li>Website management</li>
            <li>New distribution version development</li>
            <li>Internal network management</li>
        </ul>
    </section>
</div>

<%- include('partials/footer') %>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>