<div class="col-md-3 mb-4">
  <div class="card h-100 shadow-sm">
    <!-- Stock ID Overlay -->
    <div class="position-absolute top-5 start-0 bg-secondary text-light px-2 py-1">
      {{id}}
    </div>

    <img src="{{#if image}}{{image}}{{else}}images/generic-laptop.jpg{{/if}}" class="card-img-top" alt="{{name}}">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>

      <p class="card-text">
        <span class="fw-medium>">{{formatSpecs processor ram storage os}}</span><br>

        {{#if extras}}

          <hr>
          <span class="fw-medium">{{extras}}<br>
        {{/if}}
      </p>
    </div>
    <div class="card-footer text-body-secondary text-end">
      <span class="text-dark fw-bold fs-5">$ {{concessionPrice}}</span>
    </div>
  </div>

</div>