<div class="col-md-3 mb-4">
  <div class="card h-100 shadow-sm">
    <img src="{{#if image}}{{image}}{{else}}images/stock/laptop-placeholder.webp{{/if}}" class="card-img-top" alt="{{name}}">

    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>

      <p class="card-text">
        <span class="fw-medium>">{{formatSpecs processor ram storage os}}</span><br>

        {{#if extras}}

          <hr>
          <span class="fw-medium">{{extras}}<br>
        {{/if}}
      </p>
    </div>
    <div class="card-footer text-body-secondary">
      <span class="text-primary fw-bold fs-5">$ {{concessionPrice}}</span>
    </div>
  </div>

</div>