<div class="col-md-3 mb-4">
  <div class="card h-100 shadow-sm">
    <img src="{{#if image}}{{image}}{{else}}images/computer.png{{/if}}" class="card-img-top" alt="{{name}}">

    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>

      <p class="card-text">
        {{#if processor}}<span class="fw-medium">Processor:</span> {{processor}}<br>{{/if}}
        {{#if storage}}<span class="fw-medium">Storage:</span> {{storage}}<br>{{/if}}
        {{#if ram}}<span class="fw-medium">RAM:</span> {{ram}}<br>{{/if}}
        <span class="fw-bold">Condition:</span> {{condition}}
      </p>
    </div>
    <div class="card-footer text-body-secondary">
      <span class="text-primary fw-bold fs-5">$ {{fullPrice}}</span>
    </div>
  </div>

</div>