{{#> layout_dynamic_seo title='Homepage' }}
  {{> navbar}}

  <div class="container-fluid bg-light-subtle pt-2 pb-2">
    <div class="container">
      <h1 class="display-1 text-dark"><span class="fw-bold text-primary">{{site.name}}</span> {{site.address.addressRegion}}</h1>
      <p class="lead mb-2">Bridging the Digital Divide for Over 20 Years</p>
    </div>
  </div>

  <div class="container my-5">
    <h2 class="mb-4">{{page.title}}</h2>
    <p>A self-funding <a href="{{site.charityRegistration}}" target="_blank" rel="noopener noreferrer">charity</a> run by volunteers, {{site.name}} {{site.address.addressRegion}} is committed to bridging the "digital divide" and making computing accessible to those less fortunate in our society. Over our 20 years in
      operation, the style and technology of computing has changed dramatically, but the lack of affordability for those less fortunate has not.</p>
    <p>We are continually indebted to both our dedicated volunteers and loyal supporters as we try to meet an ever-increasing demand for quality used systems that can be supplied to those in need at a minimal cost. The result of this
      partnership has been the reuse of over 10,000 systems that would otherwise have contributed to eWaste in landfill.</p>
    <hr>

    <p>For more information on our mission and organisation you can read our <a href="about-us.html">About us</a> page, for details on the computers on offer at {{site.name}}, visit the Our Computers section or browse from the menu above.
    <p>{{site.name}} would not be possible without the generosity from our supporters, if you are interested in supporting us please check out the Donate page for more information. If you are interested in volunteering, you can view
      details on our Volunteer Information page.</p>
  </div>

  {{> footer-v2 }}
{{/layout_dynamic_seo}}